<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aumente a taxa de conversão do seu e-commerce de modo seguro e prático. Conteúdo, dicas e novidades atualizados para comércio eletrônico e digital.">
    <meta name="author" content="">

    <title>Venda Aprovada - Tudo para aumentar a sua conversão</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93901599-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<?php include_once("analyticstracking.php") ?>
<div id="skipnav"><a href="#maincontent">Ir para página principal</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top"><img class="img-responsive logo" src="img/logo.png" alt="Venda Aprovada"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Publicações</a>
                    </li>

                     <li class="page-scroll">
                        <a href="#contact">Cadastre-se</a>
                    </li>
                   
                    <li class="page-scroll">
                        <a href="#about">Sobre Nós</a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row header-bottom">
  <div class="col-xs-12 col-md-7 espaco"><div class="intro-text">
    
                        <h1 class="name">Gestão financeira efetiva e descomplicada.</h1>
                        <span class="skills">Aprove mais suas vendas e tenha tempo para o seu negócio.</span>
                        <p><a href="#contact"><button type="button" class="btn btn-default btn-lg">Saiba como</button></a></p>
                    </div></div>
  <div class="col-xs-12 col-md-5">
     <img class="img-responsive" src="img/imagem-header.png" alt="Mais conversão e tempo para o seu negócio.">
   </div>
</div>
       
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Descomplicando a gestão financeira</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/blog/gateway.jpg" class="img-responsive" alt="Cabin">
                    </a>
                     <div class="caption">
                        <h3>O que é um gateway de pagamento?</h3>
                        <p>Entenda o processo de pagamento via gateway em um e-commerce e como ele pode ajudar a sua loja.</p>
                        <p><a href="#portfolioModal1" class="btn btn-primary" role="button" data-toggle="modal">Leia mais</a></p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/blog/oneclick.jpg" class="img-responsive" alt="Slice of cake">
                    </a>
                    <div class="caption">
                        <h3>Melhore o desempenho do seu e-commerce</h3>
                        <p>A concorrência dentro do setor cresce a cada ano. Como garantir que o seu site tenha a melhor taxa de conversão em vendas?</p>
                        <p><a href="#portfolioModal2" class="btn btn-primary" role="button" data-toggle="modal">Leia mais</a></p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/blog/seguranca.jpg" class="img-responsive" alt="Circus tent">
                    </a>
                    <div class="caption">
                        <h3>Segurança</h3>
                        <p>As vendas digitais facilitam a vida do consumidor e das marcas, porém não estão imunes ao mundo do crime.</p>
                        <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal">Leia mais</a></p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Sua empresa faz vendas online e quer descomplicar suas transações? Cadastre-se abaixo:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate class="form-inline">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="pnome">Nome</label>
                                <input type="text" name="pnome" class="form-control" placeholder="Nome" id="pnome" required data-validation-required-message="Por favor, preencha com seu Nome.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="unome">Sobrenome</label>
                                <input type="text" name="unome" class="form-control" placeholder="Sobrenome" id="unome" required data-validation-required-message="Por favor, preencha com seu sonbrenome.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
						<div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="empresa">Empresa</label>
                                <input type="text" name="empresa" class="form-control" placeholder="Empresa" id="empresa">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="email">E-mail</label>
                                <input type="email" name="email" class="form-control" placeholder="E-mail" id="email" required data-validation-required-message="Por favor, preencha com seu e-mail.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container margem-topo">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Venda Aprovada</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Conteúdo, dicas e novidades sobre e-commerce e comércio eletrônico. Tudo para aumentar suas vendas de maneira segura e prática!</p>
                </div>   
            </div>
        </div>
    </section>

    

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">

                   <!--     <h3>Location</h3>
                        <p>3481 Melrose Place
                            <br>Beverly Hills, CA 90210</p> -->
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Redes sociais</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://twitter.com/Venda_Aprovada" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                        
                            <li>
                                <a href="https://www.facebook.com/vendaaprovada/" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                      <!--  <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Venda Aprovada</a>.</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Venda Aprovada
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>O que é um gateway de pagamento?
</h2>
                            <hr>
                            <img src="img/blog/gateway.jpg" class="img-responsive img-centered" alt="">
                            <p>Toda transação que acontece no mundo físico, envolvendo cartões de crédito, conta com uma máquina POS, a popular maquininha do cartão. Ela é a primeira etapa de uma transação. As informações ali inseridas vão para o Adquirente, que é a empresa responsável pelo processamento destas informações. Após esta etapa as informações ainda vão para a bandeira do cartão e para o banco emissor, responsável por autorizar ou negar a transação. Caso seja autorizada a informação percorre o caminho de volta, confirmando a compra.</p>

<p>Agora, você deve estar se perguntando, como é realizada a transferência online, sem a utilização da máquina POS? Temos a resposta! Por um Gateway de pagamento, um software como serviço que facilitará a comunicação de informações da transação percorrendo todas etapas necessárias para a confirmação da compra. </p>

<p>O Gateway irá realizar a transmissão das informações para o Adquirente, que irá validar transação com a bandeira e o banco emissor. Uma vez validada, como nas etapas no mundo físico, estas informações percorrem o caminho de volta e a compra é aprovada. Assim, o Gateway é o responsável por processar o pagamento no momento do check-out da loja.</p>

<p>Desta maneira, o Gateway mostra-se um importante aliado ao seu e-commerce, garantindo que você recebe o pagamento de seus clientes. Porém, considerando toda complexidade e riscos envolvidos no processo de transações online, há diversas outras funcionalidades relevantes que devem ser consideradas para a escolha de um bom Gateway de Pagamento, como a segurança na movimentação destas informações e a integração que o serviço oferece.</p>

<h3>Nos acompanhe aqui no Blog Venda Aprovada e <a href="#contact">fique por dentro do melhor conteúdo sobre vendas online!</a></h3>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Melhore o desempenho do seu e-commerce</h2>
                            <hr>
                            <img src="img/blog/oneclick.jpg" class="img-responsive img-centered" alt="">
                            <p>No Brasil o comércio eletrônico tem crescido exponencialmente. Somente em 2016 o e-commerce brasileiro faturou R$ 53,4 bilhões, obtendo um crescimento de 11% em relação a 2015. A previsão para 2017 é chegar a R$ 59,9 bilhões. (Fonte: ABComm - Associação Brasileira de Comércio Eletrônico).
A concorrência dentro do setor cresce a cada ano. Como garantir que o seu site tenha a melhor taxa de conversão em vendas? Nossa equipe separou algumas dicas para melhorar o seu desempenho: </p>

<h3>1 - Informações</h3>

<p>As vendas online existem para facilitar a vida do consumidor, portanto é essencial garantir que o mesmo encontre toda a informação que precisa para fechar a compra. Pode parecer óbvio, porém muitas plataformas ainda pecam neste quesito. A não ser que o seu produto seja único, você pode perder a venda para um concorrente já que é muito mais prático procurar outro site do que enviar uma pergunta ao e-commerce. As informações essenciais irão variar para cada produto, alguns exemplos são: capacidade, medidas, garantia, peso, material, potência, etc. </p>

<h3>2 - Mobile </h3>

<p>De acordo com a Anatel existem 243,4 milhões de celulares no Brasil, ou seja, mais de 1 aparelho para cada brasileiro. Uma pesquisa da Sociomatic levantou que em 2015 a penetração de smartphones no Brasil subiu para 90% e 79% do tráfego online já vinha de dispositivos móveis.
O aumento do uso de dispositivos móveis impulsionou o crescimento das vendas através deles, chamadas de m-commerce. Em 2015 os e-commerces brasileiros já faturaram R$ 27,3 bilhões através de plataformas móveis. Para garantir a sua participação nesse mercado é essencial garantir que o seu site possua uma versão otimizada para mobile. Os consumidores esperam que a experiência de compra com a sua marca seja a mesma, independente do dispositivo que estejam utilizando. </p>

<h3>3 - Check-out </h3>

<p>Nada mais frustrante do que perder a venda exatamente no momento final, correto? Por isso é essencial garantir que a experiência de check-out seja tão tranquila e simples quanto o processo de escolha. Desta forma você diminui o índice de desistência e aumenta a taxa de conversão de vendas.
Diminua a quantidade de cliques necessários para o fechamento da compra. Você pode simplificar os formulários de cadastro e trabalhar com uma página única.
Ofereça a opção de Compra com um Clique, segundo estudo da Webstrategies essa função pode aumentar em até 24% as suas vendas. Já existem empresas com essa soluções prontas como a MundiPagg e VTEX.
Simplifique o design da tela final para que o consumidor não tenha nenhuma distração. Ofereça várias opções de frete e mais formatos de pagamento. Para evitar desistências é essencial que o consumidor não tenha nenhum problema na validação do seu pagamento. Além da agilidade é importante que ele sinta segurança durante o processo.</p>

</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                            <p><h3>Como proteger o seu e-commerce de fraudes.</h3>

<p>As vendas digitais facilitam a vida do consumidor e das marcas, porém não estão imunes ao mundo do crime. O número de fraudes online ainda é muito alto e inibe consumidores a se aventurarem nas compras digitais. Além destes, muitos possíveis empreendedores interessados em abrir seu próprio e-commerce não começam por medo de golpes.</p>

<h3>Chargeback</h3>

<p>Um dos maiores problemas de fraudes para seu negócio virtual é conhecido como chargeback, ou em português, estorno. Quando há uma fraude efetiva - uma compra realizada com um cartão de crédito roubado ou clonado - geralmente, o dono do cartão pede o estorno da cobrança indevida. Isto se torna um prejuízo para o e-commerce e, muitas vezes, o produto já foi entregue ao fraudador, acumulando a perda. Há ainda outros tipos de fraude, como a auto-fraude. Esta acontece quando alguém, agindo de má fé, realiza a compra e depois informa que não a fez. Também existe a fraude amigável, quando alguém próximo ao titular do cartão faz a compra sem ele saber, e este pede o estorno julgando ser uma cobrança indevida. Todos estes eventos, como dito acima se tornam prejuízo para a empresa, contudo podem e devem ser evitados!</p>

<h3>Sistema Anti-fraude</h3>

<p>Desta maneira, implementar ferramentas e um sistema anti-fraude é fundamental para proteger o seu e-commerce. Há diversas opções no mercado, uma boa solução é escolher um gateway de pagamento que já possua um sistema acoplado. Desta maneira você consegue integrar melhor suas ferramentas e ter mais controle sobre as transações, além de garantir a segurança de seus clientes e preservar a imagem de seu e-commerce.</p>

<p>Acompanhe o blog para mais dicas e ferramentas úteis para garantir que todas vendas de seu e-commerce sejam aprovadas!</p>

<!--
URL: como-proteger-e-commerce-fraudes

META DESCRIPTION:
Vendas online ainda são alvo de um grande número de fraudes. Conheça os diferentes tipos de fraude e um jeito prático de se proteger com eles. -->
</p> 
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Nome Artigo</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      <!--      <ul class="list-inline item-details">
                                <li>Escrito por:
                                    <strong><a href="">Link</a>
                                    </strong>
                                </li>
                                <li>Data:
                                    <strong><a href=""><php></a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul> -->
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>